@import "keyframes.css";

:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(
    208.83deg,
    var(--black) 16.69%,
    var(--bitcoin-orange) 100%
  );

  background-size: 400% 400%;

  -webkit-animation: bgAnimateBitcoin 20s ease infinite;
  -moz-animation: bgAnimateBitcoin 20s ease infinite;
  animation: bgAnimateBitcoin 20s ease infinite;
}

header img {
  width: 151px;
  height: 24px;
  margin-top: 30px;
  align-self: center;
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-weight: 2.6rem;
  color: var(--just-white);
}

.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 120px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);

  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 15px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  height: auto;
  min-width: 320px;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
